<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Milton_MenuTut::top_level_example"
             title="Top Level Example"
             module="Milton_MenuTut"
             sortOrder="9999"
             resource="Magento_Backend::content"
             />


        <add id="Milton_MenuTut::second_level_example"
             title="Second Level Example"
             module="Milton_MenuTut"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Milton_MenuTut::top_level_example"
             action="cms/page/index"
             />


        <add id="Milton_MenuTut::third_level_example"
             title="Third Level Example"
             module="Milton_MenuTut"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Magento_Backend::system"
             action="cms/page/index"
            />
    </menu>
</config>
